html
	head
	body
		div.jumbotron
			h1 Cuenta nómina
		div.swipe-from-left.animate Utiliza los servicios de nuestra cuenta nómina para el día a día
		ul
			li.swipe-from-left.animate Sin comisiones
			li.swipe-from-left.animate Más descuentos
			