html
	head
	body
		div.jumbotron
			h1 Cuenta ahorro
		div.swipe-from-left.animate Aprovecha las ventajas de ahorro que ofrece GPLBank
		ul
			li.swipe-from-left.animate Tu dinero crece mes a mes
			li.swipe-from-left.animate Siempre disponible.
			li.swipe-from-left.animate Rentabilidad mes a mes.
			li.swipe-from-left.animate Sin penalizaciones.