html
	head
	body
		div.jumbotron
			h1 Tarjetas
		div.swipe-from-left.animate Beneficiate de todas las ventajes de nuestras tarjetas
		ul
			li.swipe-from-left.animate Tarjeta de crédito y débito gratis.
			li.swipe-from-left.animate Sin condiciones.
			li.swipe-from-left.animate Cuanto más las uses, más ahorras.
			li.swipe-from-left.animate Aplaza el pago.