html
	head
		meta(charset = 'UTF-8')
		script(src='js/jquery-1.12.3.min.js')
		script(src='js/bootstrap.min.js')
		script(src="js/app.js")
		link(rel='stylesheet', href='css/app.min.css')
		link(rel='stylesheet', href='css/animate.css')
		link(rel='stylesheet', href='css/bootstrap.min.css')
		link(rel='stylesheet', href='css/bootstrap-theme.min.css')
	body(style="overflow:hidden")
		div#container(style="width:100%; height : 90%; font-size=150%")
			div#canvas(style="width:100%; height : 100%; font-size=150%")
		div#time(style="width:100%; height :5%; position:relative; z-index:-100 ")
			div(style="width: 100%; height: 100%; position:absolute; top: 0; left:0; background:url('resources/timer-image.png') no-repeat; background-size: contain; background-position: center")
			div#time-mask(style="width: 100%; height: 100%; position:absolute; top: 0; left:0; background:url('resources/timer-mask.png') no-repeat; background-size: contain; background-position: center")

script.
	var slides = [];
	window.onload  =function(){
		Controller = new Controller.presentationController();
		Controller.configure({slides : Presentacion});
		Controller.run();
	};
